<div class="centered-content">
  <form style="width: 65%; margin: auto">
    <div class="modal-box">
      <h1 class="title">
        Add a new Node
      </h1>
      <label >Adress:</label>
      <input #listTitleInput class="input has-background-light is-medium" required type="text" placeholder="Enter Adress...">
      <br><br>
 
      <label for="cars">Type:</label>
      <br><br>                                                         
      <select name="cars" #listTitleInput2>
        <option value="Sensor node">Sensor node</option>
        <option value="Tank node">Tank node</option>
        <option value="Gateway">Gateway</option>
      </select>
      <br><br>
      <label >Statue:</label>
      <input #listTitleInput3 class="input has-background-light is-medium" min="0" max="1" required type="number" placeholder="Enter if active or not...">
      <br><br>
      <label >Battery Level:</label>
      <input #listTitleInput4 class="input has-background-light is-medium" min="0" max="100" required type="number" placeholder="Enter Battery Level...">
      <br><br>
      <label >Electrovan statue:</label>
      <input #listTitleInput5 class="input has-background-light is-medium" min="0" max="1" required type="number" placeholder="Enter Electrovan is active or not...">
      <br><br>
      <label >Mode:</label>
      <input #listTitleInput6 class="input has-background-light is-medium" min="1" max="4" required type="number" placeholder="Enter Mode [ 1 , 2 , 3 , 4]...">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/">Cancel</button>
        <button class="button is-primary has-text-white is-medium" routerLink="/posts" (click)="createNode(listTitleInput.value , listTitleInput2.value ,listTitleInput3.value,listTitleInput4.value,listTitleInput5.value,listTitleInput6.value )">Create</button>
      </div>
  
      
    </div>
  </form>
  </div>